<%= form_for extra_time, url: {controller: :extra_times, action: action} do |f| %>
    <div class="attribute">
      <div class="label">
        <%= f.label :hours, t('activerecord.models.extra_time.hours') %>
      </div>
      <div class="value">
        <%= f.text_field :hours %>
      </div>
    </div>
    <div class="attribute">
      <div class="label">
        <%= f.label :date_added, t('activerecord.models.extra_time.date_added') %>
      </div>
      <div class="value">
        <%= f.date_field :date_added %>
        <%= calendar_for('ttm_extra_time_date_added') %>
      </div>
    </div>

    <%= f.submit t('button_save') %>
<% end %>

