<table>
   <tbody>
   <tr>
     <th><%= t('ttm.settings.hours_to_warning') %></th>
     <td>
       <input type="text" id="settings_ttm_hours_to_warning" value="<%= settings['ttm_hours_to_warning'] %>" name="settings[ttm_hours_to_warning]" >
     </td>
   </tr>
   <tr>
     <th><%= t('ttm.settings.rate_currency') %></th>
     <td>
       <input type="text" id="settings_ttm_currency" value="<%= settings['ttm_currency'] %>" name="settings[ttm_currency]" >
     </td>
   </tr>
   <tr>
     <th><%= t('ttm.settings.notify_period') %></th>
     <td>
       <input type="text" id="settings_ttm_notify_period" value="<%= settings['ttm_notify_period'] %>" name="settings[ttm_notify_period]" >
     </td>
   </tr>
   </tbody>
 </table>
