<h2><%= @subscription.name || t('subscriptions.show.header')  %></h2>

<div class="issue">
  <div class="splitcontent">
    <div class="splitcontentleft">

      <div class="attribute">
        <div class="label"><%= label :activity, t('field_activity') + ":" %></div>
        <div class="value"><%= @subscription.activity %></div>
      </div>

      <div class="attribute">
        <div class="label"><%= label :tracker, t('field_tracker') + ":" %></div>
        <div class="value"><%= @subscription.tracker %></div>
      </div>

      <div class="attribute">
        <div class="label"><%= label :hours, t('activerecord.models.subscription.time') + ":" %></div>
        <div class="value"><%= @subscription.hours %></div>
      </div>

      <div class="attribute">
        <div class="label"><%=label :hours, t('activerecord.models.subscription.time_with_extra') + ":" %></div>
        <div class="value"><%= @subscription.hours_with_extra %></div>
      </div>
    </div>
    <div class="splitcontentleft">
      <div class="attribute">
        <div class="label"><%= label :begindate, t('activerecord.models.subscription.begindate') + ":" %></div>
        <div class="value"><%= @subscription.begindate.to_date %></div>
      </div>
      <div class="attribute">
        <div class="label"><%= label :enddate, t('activerecord.models.subscription.enddate') + ":" %></div>
        <div class="value"><%= @subscription.enddate.to_date %></div>
      </div>
      <div class="attribute">
        <div class="label"><%= label :rate, "#{t('activerecord.models.subscription.rate')}, #{Setting.plugin_ttm['ttm_currency']}" + ":" %></div>
        <div class="value"><%= @subscription.rate %></div>
      </div>
      <div class="attribute">
        <div class="label"><%= label :notify_email, "#{t('activerecord.models.subscription.notify_email')}:" %></div>
        <div class="value"><%= @subscription.notify_email %></div>
      </div>
      <div class="attribute">
        <div class="label"><%= label :status, t('activerecord.models.subscription.status') + ":" %></div>
        <div class="value"><%= t("activerecord.models.subscription.statuses.#{@subscription.status}") %></div>
      </div>
    </div>
  </div>

</div>
<h3><%=t('subscriptions.show.stats_for')%></h3>
<div class="issue">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <%= form_tag({ controller: :subscriptions, action: :show }, method: 'get') do %>
         <div class="attribute">
           <div class="label">
             <%=t('activerecord.models.subscription.begindate')%>:
           </div>
           <div class="value">
             <%= date_field_tag(:query_begin, @query_begin) %>
             <%= calendar_for('query_begin') %>
           </div>
         </div>
         <div class="attribute">
           <div class="label">
            <%=t('activerecord.models.subscription.enddate')%>:
           </div>
           <div class="value">
             <%= date_field_tag(:query_end, @query_end) %>
             <%= calendar_for('query_end') %>
           </div>
         </div>
         <%= submit_tag(t('button_update')) %>
      <% end %>
    </div>
  </div>
</div>

<div class='splitcontent'>
<div class='splitcontentleft'>

<h3><%=t('label_spent_time')%></h3>
<table class='list'>
  <tr>
    <th><%=t('label_issue')%></th>
    <th><%=t('subscriptions.show.comment')%></th>
    <th><%=t('activerecord.models.subscription.hours')%></th>
    <th><%="#{t('subscriptions.show.cost')}, #{Setting.plugin_ttm['ttm_currency']}"%></th>
  </tr>
  <%= render partial: 'time_entry', collection: @time_entries %>
  <tr>
  <td></td>
  <td><%=t('label_total') %></td>
  <td><%= @total_time.round(2) %></td>
  <td><%= @total_cost.round(2) %></td>
  </tr>
</table>
<%= link_to t('button_back'), project_subscriptions_path(@project) %>
</div>

<div class='splitcontentright'>
  <h3><%=t('activerecord.models.extra_times')%></h3>
  <table class='list'>
  <tr>
    <th><%=t('activerecord.models.extra_time.hours')%></th>
    <th><%=t('activerecord.models.extra_time.date_added')%></th>
  </tr>
  <%=render partial: 'extra_time', collection: @extra_times %>
  </table>
</div>
</div>
