<div class="contextual">
  <%= link_to t('btn.edit'), edit_project_subscription_path(@project, @subscription), class: 'icon icon-edit' if User.current.allowed_to?(:edit_subscriptions, @project) %>
  <%= link_to t('btn.delete'), project_subscription_path(@project, @subscription), method: :delete, data: { confirm: t('subscriptions.show.delete_confirm') }, class: 'icon icon-del' if User.current.allowed_to?(:edit_subscriptions, @project) %>
  <%= link_to t('button_back'), project_subscriptions_path(@project), class: 'icon icon-back' %>
</div>

<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 15px;">
  <h2 style="margin: 0;"><%= @subscription.name || t('subscriptions.show.header') %></h2>
  <span style="background-color: #e8f4f8; padding: 5px 10px; border-radius: 3px; font-family: monospace; font-size: 0.9em;">
    ID: <%= @subscription.id %>
  </span>
</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <div class="box">
      <table class="attributes">
        <tr>
          <td class="label"><strong><%= t('field_activity') %></strong></td>
          <td class="value"><%= @subscription.activity&.name || '-' %></td>
          <td class="label"><strong><%= t('field_tracker') %></strong></td>
          <td class="value"><%= @subscription.tracker&.name || '-' %></td>
        </tr>
        <tr>
          <td class="label"><strong><%= t('activerecord.models.subscription.begindate') %></strong></td>
          <td class="value"><%= @subscription.begindate.to_date %></td>
          <td class="label"><strong><%= t('activerecord.models.subscription.enddate') %></strong></td>
          <td class="value"><%= @subscription.enddate.to_date %></td>
        </tr>
        <tr>
          <td class="label"><strong><%= t('activerecord.models.subscription.time') %></strong></td>
          <td class="value"><%= @subscription.hours %> <%= t('activerecord.models.extra_time.hours') %></td>
          <td class="label"><strong><%= t('activerecord.models.subscription.time_with_extra') %></strong></td>
          <td class="value"><%= @subscription.hours_with_extra %> <%= t('activerecord.models.extra_time.hours') %></td>
        </tr>
        <tr>
          <td class="label"><strong><%= t('activerecord.models.subscription.rate') %> (<%=Setting.plugin_ttm['ttm_currency'] %>)</strong></td>
          <td class="value"><%= number_to_currency(@subscription.rate, unit: Setting.plugin_ttm['ttm_currency'], separator: '.', delimiter: ',') %></td>
          <td class="label"><strong><%= t('activerecord.models.subscription.status') %></strong></td>
          <td class="value">
            <span class="badge <%= @subscription.status %>">
              <%= t("activerecord.models.subscription.statuses.#{@subscription.status}") %>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="splitcontentright">
    <div class="box">
      <h3><%=t('subscriptions.show.stats_for')%></h3>
      <%= form_tag({ controller: :subscriptions, action: :show }, method: 'get', class: 'box-form') do %>
        <div class="field-row" style="display: flex; gap: 15px; align-items: flex-end;">
          <div class="field" style="flex: 1;">
            <label><%= t('activerecord.models.subscription.begindate') %></label>
            <%= date_field_tag(:query_begin, @query_begin, style: 'width: 100%;') %>
          </div>
          <div class="field" style="flex: 1;">
            <label><%= t('activerecord.models.subscription.enddate') %></label>
            <%= date_field_tag(:query_end, @query_end, style: 'width: 100%;') %>
          </div>
          <div class="field">
            <%= submit_tag(t('button_update'), class: 'btn btn-primary') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='splitcontent'>
  <div class='splitcontentleft'>
    <h3><%=t('label_spent_time')%></h3>
    <div class="box tabular">
      <table class='list'>
        <thead>
          <tr>
            <th><%=t('label_issue')%></th>
            <th><%=t('subscriptions.show.date')%></th>
            <th><%=t('subscriptions.show.comment')%></th>
            <th style="text-align:right"><%=t('activerecord.models.subscription.hours')%></th>
            <th style="text-align:right"><%="#{t('subscriptions.show.cost')}, #{Setting.plugin_ttm['ttm_currency']}"%></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'time_entry', collection: @time_entries %>
          <% if @time_entries.any? %>
            <tr class="total-row">
              <td colspan="3"><strong><%=t('label_total') %></strong></td>
              <td style="text-align:right"><strong><%= @total_time.round(2) %></strong></td>
              <td style="text-align:right"><strong><%= @total_cost.round(2) %></strong></td>
            </tr>
          <% else %>
            <tr><td colspan="5" class="no-items-text"><%=t('label_no_data')%></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='splitcontentright'>
    <div class="contextual">
      <%= link_to t('btn.new_extra_time'), new_project_subscription_extra_time_path(@project, @subscription), class: 'icon icon-add' if User.current.allowed_to?(:edit_subscriptions, @project) %>
    </div>
    <h3><%=t('activerecord.models.extra_times')%></h3>
    <div class="box tabular">
      <table class='list'>
        <thead>
          <tr>
            <th style="text-align:right"><%=t('activerecord.models.extra_time.hours')%></th>
            <th><%=t('activerecord.models.extra_time.date_added')%></th>
            <% if User.current.allowed_to?(:edit_subscriptions, @project) %>
              <th style="width: 50px;"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%=render partial: 'extra_time', collection: @extra_times %>
          <% if @extra_times.empty? %>
            <tr><td colspan="<%= User.current.allowed_to?(:edit_subscriptions, @project) ? 3 : 2 %>" class="no-items-text"><%=t('label_no_data')%></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
